body {
	color:#EAEAEA;
	background:#7EB5D6;	
	margin:0px;
	padding:0px;
	font-family: "Trebuchet MS", Tahoma, Arial;
	font-size: 12px;
	}
.button-field {
	background:#AAAAAA;	
	display:inline;
	width: 10%;
	float:right;
	margin-left: 0px;	
	margin-right: 0px;
	}
.schedule {
	background:#444444;	
	width: 90%;
	height: 600px;
	float:left;
	margin-left: 0px;	
	margin-right: 0px;
	}
.day {
	background:#777777;	
	width: 14%;
	height: 600px;
	float:left;
	margin-left: 0px;	
	margin-right: 0px;
}
/*.day:hover {
	background:#177CE2;
}*/


[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.drag {
	background:#177CE2;
	border: 1px solid black; 
	position: relative; 
	cursor: move;
	width: 130px;
	}
.drag.over {
  border: 2px dashed #000;
}
.container {
	background:#AAAAAA;	
	margin:10px auto;
	}